/* ----Header and App Background---- */

.App {
  width: 380px;
  margin: auto;
  border: none;
  outline: none;
  background: #212121;
  /* border-radius: 20px 20px 20px 20px; */
  border-radius: 20px;
}

/* Header */

.header {
  display: flex;
  padding: 15px;
  border-radius: 20px 20px 0 0;
  justify-content: space-between;
  align-items: center;
  background: #212121;
}

.header div {
  display: flex;
  align-items: center;
}

.header div img {
  height: 30px;
  width: 30px;
}

.header div span {
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #f7f9fb;
}

/* ----SignIn---- */

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.sign-in button {
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  background: #111;
  transition: all .3s ease;
}
.sign-in button:hover{
  background: #000;
}

.sign-in button img {
  height: 30px;
  width: 30px;
}

.sign-in p {
  margin-top: 10px;
  font-size: 500;
  text-align: center;
  color: #f7f9fb;
}

/* SignOut button */
.sign-out {
  padding: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  /* background: #5F1EBE;
  color: white; */
  color: #fff;
  background: #111;
  font-size: 1rem;
  border-radius: 10px;
  transition: all .3s ease;
}
.sign-out:hover{
  background: #000;
}

/* ChatRoom */
main {
  padding: 15px;
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background: url('./assets/image/chatBg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

main::-webkit-scrollbar {
  display: none;
}


.message img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* Messsage */
.message p {
  max-width: calc(100% - 50px);
  padding: 8px;
  font-size: 14px;
  margin: 5px 0;
  position: relative;
  color: white;
}

.message {
  display: flex;
  flex-direction: column;
}

.sent {
  align-items: flex-end;
}

.received {
  align-items: flex-start;
}

.sent p {
  color: white;
  background: #5F1EBE;
  align-self: flex-end;
  border-radius: 5px 0 5px 5px;
}

.received p {
  background: #222;
  color: white;
  border-radius: 0 5px 5px 5px;
}

/* Type Area */

.form {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background-color: #212121;
  outline: none;
  border: none;
  border-radius: 0 0 20px 20px;
}
.form .input-wrapper {
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 0 0 0 20px;
  width: 100%;
}

.form .input-wrapper input {
  outline: none;
  border: none;
  padding-left: 20px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
  background: #212121;
  color: #fff;
  font-size: 14px;
}
.form .input-wrapper input::placeholder{
  color: #9099a0;
}

.form button {
  border: none;
  outline: none;
  background: #212121;
  color: #9099a0;
  width: 65px;
  font-size: 20px;
  border-radius: 0 0 20px 0;
  transition: all .3s ease;
  cursor: pointer;
}
.form button:hover{
  background: #5F1EBE;
  color: white;
}